body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

header#SiteTitle {
  display: flex;
  width: 100%;
  background-color: #0e0e11;
  position:fixed;
  height: 100px;
  justify-content: center;
  align-items: center;
  top: 0;

  color: white;
  font-size: 48px;
  font-weight: bold;
}

header#SiteTitle a {
  text-decoration: none;
  color: white;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 100px;
  width: 250px;
  height: calc(100% - 100px);
  background-color: #151317;
  color: #ffffff;
}

main {
  padding-left: 300px;
  padding-top: 125px;
  padding: 125px 300px;
}

.note {
  background-color: lightgrey;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 24px;
}

.note h3 {
  margin: 0;
}

.note .delete {


  border: 0;
  background-color: darkgray;
  outline: none;
}

.note .delete:hover {
  background-color: darkred;
  color: white;
}

button {
  cursor: pointer;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color:blue;
}

a:hover {
  text-decoration: none;
  color:lightcoral;
}

#AddFolder {
  margin-left: 40px;
}
